<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/user/IdeaProjects/Winter2022TAF">
        <classes>
            <class name="SomeClassTest"></class>
            <class name="calculatorTest"></class>
            <class name="annotations.Sampletest">

                <methods>
                    <include name="demotest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>